[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pychrome = "*"
dateparser = "*"
pyyaml = "*"
tldextract = "*"
youtube-dl = "*"

[dev-packages]

[requires]
python_version = "3.9"
